{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <title>LITReview</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar-left">
            <img src="{% static '/img/logo sans texte.png' %}" alt="logo">
            <h1 class="logo-title">LITReview</h1>
        </div>
        <div>
            <li><a href="{% url 'feed' %}" class="link">Flux</a></li>
            <li><a href="{% url 'posts' %}" class="link">Posts</a></li>
            <li><a href="#" class="link">Abonnements</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="link">Se déconnecter</a></li>
            {% endif %}
        </div>
    </header>
    <div class="base-content">
        {% block content %}{% endblock content %}
    </div>
    <footer>
        <div>
           Projet n°9 - OPENCLASSROOMS - Développement d'un site web avec DJANGO
        </div> 
        <a href="https://github.com/AlexBotswana">voir mon Github</a>
    </footer>
</body>
</html>