{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="center-title">
    <p>Créer une critique</p>
</div>
<div class="center-div">
    <div class="ticket-container">
        <div class="ticket-container">
            <div>
                <p>Vous êtes en train de poster en réponse à {{ ticket.title }}</p>
            </div>
            <div class="field-group">
                {{ ticket.user }}
                <label>a demandé une critique</label>          
            </div>
            <div class="field-group-row">
                <img src="{% static '../' %}{{ ticket.image }}" alt="logo">
                <div class="field-group-column">
                    <label for="description">Description</label>
                    <textarea class="non-resizable" readonly id="description" name="description" rows="10" cols="40">{{ ticket.description }}</textarea>
                </div>                
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="ticket-container">
                <div>
                    <p>Critique</p>
                </div>
                <div class="field-group">
                    <label for="title">Titre</label>
                    {{ review_form.headline }}           
                </div>
                <div>
                    <div>
                        <p>Note</p>
                    </div>
                    {{ review_form.rating }}
                </div>
                <div class="field-group">
                    <label for="comment">Commentaire</label>
                    {{ review_form.body }}
                </div>
                <div class="space-bottom">
                    {{ review_form.edit_review }}
                    {% csrf_token %}
                    <button class="action-button" type="submit">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}