{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="center-title">
        <p>Créer un ticket et une critique</p>
    </div>
    <div class="ticket-container">
        <div>
            <p>Livre / Article</p>
        </div>
        <form class="field-group-column" method="post" enctype="multipart/form-data">
            <div class="field-group-column">    
                <label for="{{ form.title.label }}">Titre</label>
                {{ form_ticket.title }}
            </div>
            <div class="field-group-column">
                <label for="{{ form.description.label }}">Description</label>
                {{ form_ticket.description }}
            </div>
            <div class="field-group-column">
                <label>Image</label>
                {{ form_ticket.image }}
            </div>
            {{ form_ticket.edit_ticket }}
            <div>
                <p>Critique</p>
            </div>
            <div class="field-group">
                <label for="title">Titre</label>
                {{ form_review.headline }}           
            </div>
            <div>
                <div>
                    <p>Note</p>
                </div>
                {{ form_review.rating }}
            </div>
            <div class="field-group">
                <label for="comment">Commentaire</label>
                {{ form_review.body }}
            </div>
            <div class="space-bottom">
                <div class="action-button">
                    {{ form_review.edit_review }}
                    {% csrf_token %}
                    <button type="submit">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}