{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="feed-buttons">
        <a class="action-button" href="{% url 'create_ticket' %}">Demander une critique</a>
        <a class="action-button" href="{% url 'create_review_wo_ticket' %}">Créer une critique</a>
    </div>
    {% for post in posts %}
            <div class="ticket-container">
                <div class="field-group-column">
                    <div class="field-group-row">
                        {{ post.user.username|add:" a demandé une critique le "}}
                        {{ post.time_created}}                        
                    </div>
                    <div>{{ post.title }}</div>
                    <div>{{ post.description }}</div>
                    <a class="action-button" href="#">Créer une critique</a>
                </div>
            </div>
    {% endfor %}
{% endblock content %}