{% load static %}
{% csrf_token %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>LITReview</title>
</head>
<body>
    <div class="login-container">
        <div class="logo-connection">
            <img src="{% static 'img/logo.png' %}" alt="logo de LITReview">
        </div>
        <div class="content-connection">
            <div class="login-connection">
                <div>
                    <p>Inscrivez-vous maintenant</p>
                </div>
                <div class="space-bottom">
                    <a class="action-button" href="{% url 'signup' %}">S'inscrire</a>
                </div> 
            </div>
            <div class="login-connection">
                <p>Connectez-vous</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="login-space-field">
                        <input type="text" name="username" placeholder="Nom d'utilisateur" maxlength="60" required="" id="id_username">
                        <input type="password" name="password" placeholder="Mot de passe" maxlength="60" required="" id="id_password">
                        <button class="action-button" type="submit" >Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div>
           @LITReview Project
        </div>
    </footer>
</body>
</html>

