{% load static %}
{% csrf_token %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <title>LITReview</title>
</head>
<body>
    <div class="signup-container">
        <div class="logo-connection">
            <img src="{% static '/img/logo.png' %}" alt="">
        </div>
        <div class="center-signup">
            <div>
                <p>Inscrivez-vous</p>
            </div>
            <div class="signup-connection">
                {% if form.errors %}
                    {{ form.username.errors }}
                    {{ form.password1.errors }}
                    {{ form.password2.errors }}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="login-space-field">
                        {{ form.username }}
                        {{ form.password1}}
                        {{ form.password2 }}
                        <div class="space-bottom">
                            <a class="action-button" href="{% url 'login' %}">Retour</a>
                            <button class="action-button" type="submit">S'inscrire</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div>
           @LITReview Project
        </div>
    </footer>
</body>
</html>
